 h1 {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
     color: white;
 }
 
 input {
     margin-right: 30%;
     width: 40%;
     height: 7%;
     border-radius: 4px;
     font-size: 18px;
 }
 
 body {
     background-color: rgb(143, 6, 6);
     /* For browsers that do not support gradients */
     background-image: linear-gradient(to right, rgb(145, 9, 9), rgb(252, 252, 104));
 }